.flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.sticky,
.scrollable {
  width: 50%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 60px 60px 60px 0;
  font-size: 20px;
  height: 100vh;
}

.scrollable {
  min-height: 2000px;
  padding: 30px 0;
}

.blur {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 30px;
  left: 0;
  right: 0;
  pointer-events: none;
}

.blur0 {
  top: 0;
  background: var(--blur0);
}

.blur1 {
  bottom: 0;
  background: var(--blur1);
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
}

.title {
  margin-top: -1px;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  position: relative;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: var(--title);
}

.title::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 30px;
  background-color: var(--card);
  z-index: -1;
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.mt_32 {
  margin-top: 32px;
}
.mt_8 {
  margin-top: 8px;
}

.desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: var(--text-color-light);
}

.desc a {
  color: var(--text-color);
  text-decoration: underline;
}

/* nav */

a.nav__link.is-active {
  border: 1px solid red !important;
}

.nav {
  margin-top: 32px;
}

/* .nav__ul {
  border: 1px solid blue;
} */

.nav__li {
  margin: 5px 30px 0;
}

.nav__link {
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
  color: var(--text-color-light);
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__link:hover .nav__line {
  width: 40px;
  border-color: var(--text-color);
}

/* .nav__link.is-active {
  color: blue !important;
} */

.nav__line {
  width: 20px;
  border: 1px solid var(--text-color-light);
  margin: -1px 16px 0;
  transition: width 300ms ease-in-out;
  display: inline-block;
}

/* footer */

.footer {
  margin-top: 50px;
  display: flex;
}

.profile_pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--card);
  margin-right: 20px;
  overflow: hidden;
}

.socials {
  display: flex;
  align-items: center;
}

.socials_li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.socials_link {
  display: inline-flex;
  font-size: 12px;
  align-items: center;
}

.socials_title {
  margin: 2px 10px 0;
}

.project,
.blog {
  margin-bottom: 60px;
}

/* project */
.project {
  padding: 0px 10px;
}
.project:hover .project_card {
  opacity: 0.5;
}

.project_card {
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  padding: 40px;
  margin-bottom: 10px;
  transition: 300ms ease-in-out;
  z-index: 1;
  position: relative;
}

.project_card:hover {
  will-change: transform;
  transform: scale(1.1);
  z-index: 2;
  opacity: 1 !important;
}

.project_card:hover .project_icon {
  opacity: 1;
  transform: scale(1);
}

.project_lang {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-color-light);
}

.project_title {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0;
}

.project_description {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-light);
}

.project_icon {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0;
  transform: scale(0);
  transition: 300ms ease-in-out;
}

/* blog */

.blog:hover .project_card {
  opacity: 0.5;
}
