.flex {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding: 0 50px;
}

.theme_icon {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  background-color: var(--card);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.sticky,
.scrollable {
  width: 50%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 100px 20px 10px;
  font-size: 20px;
  height: 100vh;
}

.scrollable {
  padding: 0px 0;
}

.lamp {
  position: sticky;
  visibility: visible;
  opacity: 1;
  width: auto;

  font-size: 28px;
  font-weight: 900;
  color: var(--text-color-light);
  top: 30px;
  left: -20px;
  margin-bottom: -15px;
  margin-left: -20px;
  z-index: 99;
  pointer-events: none;
}

.blur {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 30px;
  left: 0;
  right: 0;
  pointer-events: none;
}

.blur0 {
  top: 0;
  background: var(--blur0);
}

.blur1 {
  bottom: 0;
  background: var(--blur1);
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
}

.title {
  margin-top: -1px;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  position: relative;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: var(--title);
  margin-left: -5px;
}

.title::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 30px;
  background-color: var(--card);
  z-index: -1;
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.mt_32 {
  margin-top: 32px;
}
.mt_16 {
  margin-top: 16px;
}
.mt_8 {
  margin-top: 8px;
}

.desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: var(--text-color-light);
}

.desc a {
  color: var(--text-color);
  text-decoration: underline;
}

.nav {
  margin-top: 20px;
}

.nav__li {
  margin: 5px 0 0;
}

.nav__link {
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
  color: var(--text-color-light);
  letter-spacing: 2px;
  transition: fontSize 300ms ease;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__link:hover .nav__line {
  width: 60px;
  background-color: var(--text-color);
}

.nav__line {
  width: 20px;
  height: 1px;
  background-color: var(--text-color-light);
  margin: -1px 16px 0;
  transition: width 300ms ease-in-out;
  display: inline-block;
  padding: 0;
}

.dot {
  margin-top: 20px;
  display: flex;
}

.dot__ul {
  display: flex;
  align-items: center;
}

.dot__li {
  position: relative;
}

.dot__link {
  display: inline-block;
  position: relative;
  padding: 10px;
}

.dot__link:hover .dot__line {
  background-color: var(--text-color);
}

.dot__link:hover .dot__tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dot__line {
  display: block;
  width: 20px;
  height: 4px;
  background-color: var(--card);
  transition: 300ms ease;
  position: relative;
}

.dot__tooltip {
  display: flex;
  position: absolute;
  background-color: var(--card);
  color: var(--text-color-light);
  font-size: 10px;
  padding: 7px 20px;
  border-radius: 10px;
  left: 10px;
  top: 30px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 300ms ease;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer {
  margin-top: 20px;
  display: flex;
}

.profile_pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--card);
  margin-right: 20px;
  overflow: hidden;
}

.socials {
  flex: 1;
  display: flex;
  align-items: center;
}

.socials_li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.socials_link {
  display: inline-flex;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-items: center;
  text-decoration: underline;
}

.socials_title {
  margin: 2px 10px 0;
}

.project,
.blog,
.hello {
  margin-bottom: 60px;
}

.blog:hover .project_card,
.project:hover .project_card {
  opacity: 0.5;
}

.project_card {
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  padding: 40px;
  margin-bottom: 10px;
  transition: 300ms ease-in-out;
  z-index: 1;
  position: relative;
  border-radius: 12px;
}

.project_card:hover {
  /* transform: scale(1.1); */
  /* z-index: 2; */
  opacity: 1 !important;
  /* text-rendering: optimizeLegibility; */
  /* backface-visibility: hidden; */
  /* font-size-adjust: 0.1; */
}

.project_card:hover .project_icon {
  opacity: 1;
  /* transform: scale(1); */
}

.project_lang {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-color-light);
  margin-top: 5px;
}

.project_title {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0;
}

.project_description {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-light);
}

.project_icon {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0;
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}

.project_continueReading {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color-light);
  display: none;
}

.project_continueReading_para {
  font-size: 14px;
  margin-right: 10px;
}

.resume {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--bgResume);
  z-index: 9999;
  left: 0;
  transform: translateY(50%) scale(0.5);
  transition: all 300ms linear;
  opacity: 0.5;
  visibility: hidden;
  display: flex;
}

.resume__wrapper {
  margin: auto;
  height: 100vh;
}

.resume__pdf {
  height: 100vh;
}

.resume.resume__active {
  transform: translateY(0) scale(1);
  opacity: 1;
  visibility: visible;
}

.resume__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: var(--card);
  border-radius: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.madeWithLove {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.madeWithLove_para {
  font-size: 14px;
  color: var(--text-color-light);
}

.madeWithLove_link {
  text-decoration: underline;
  color: var(--text-color);
}

.hello_heading {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 30px;
  margin-left: 30px;
}

.hello_heading span {
  margin-left: 30px;
}

.hello_text {
  max-width: 500px;
  color: var(--text-color-light);
}

.hello_action {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.hello_action svg {
  width: 200px;
}

.hello_action a {
  border: 1px solid var(--text-color-light);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  color: var(--text-color-light);
  font-size: 14px;
  white-space: nowrap;
}

.hello_action a:hover {
  background-color: var(--card);
  color: var(--text-color);
}

@media screen and (max-width: 700px) {
  .flex {
    flex-direction: column;
    padding: 0 20px;
  }
  .sticky,
  .scrollable {
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 0px;
  }

  .sticky {
    padding: 50px 10px;
  }

  .scrollable {
    padding-bottom: 0;
    padding-top: 0px;
  }

  .name {
    font-size: 34px;
  }

  .nav {
    display: none;
  }

  .project:hover .project_card,
  .blog:hover .project_card {
    opacity: 1;
  }
  /* 
  .project_card:hover {
    transform: none;
  } */

  .project_icon {
    display: none;
  }

  .project_continueReading {
    display: flex;
  }

  .dot {
    display: none;
  }

  .footer {
    margin-top: 50px;
  }
}
