.main {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  width: 50%;
  padding: 60px 50px;
}

.blur {
  border: 1px solid red;
  visibility: hidden;
  position: absolute;
}

.name {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
}

.title {
  margin-top: -5px;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  position: relative;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #f5f5fa;
}

.title::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 30px;
  background-color: var(--card-dark);
  z-index: -1;
  left: 0;
}

.mt_32 {
  margin-top: 32px;
}
.mt_8 {
  margin-top: 8px;
}

.desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding-left: 10px;
  color: #949495;
}

.desc a {
  color: #fff;
  text-decoration: underline;
}

/* nav */

.nav {
  margin-top: 32px;
}

.nav_li {
  margin: 5px 30px 0;
}

.nav_link {
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
  color: #949495;
}

.nav_link:hover {
  color: #fff;
}

.nav_link:hover .nav_line {
  width: 40px;
  border-color: #fff;
}

.nav_line {
  width: 20px;
  border: 1px solid #949495;
  margin: -1px 16px 0;
  transition: width 300ms ease-in-out;
  display: inline-block;
}
